@import url("http://fonts.googleapis.com/css?family=Open+Sans");

#SHARPLogo {
	height: 64px;
	width: 800px;
	position: relative;
	clear: both;
}

h1 {
	background: #F9F9F7 url('images/m1.jpg') repeat-x;
	font-size: 2em;
	font-weight: bold;
	color: white;
	margin: 40px 0px 70px;
	text-align: center;
	font-family: 'Open Sans', verdana, sans-serif;
	
}

.doneButton {
	font-family: 'Open Sans', verdana, sans-serif;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.body{
}
.provenance {
	border: 1px;
}

.big-label {
	height: 25px;
	line-height: 30px;
	background-size:cover;
	padding-left: 20px;
	font-size: 180%;
	color: #c5bfb5;
	letter-spacing: 1px;
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}

.big-label-selected {
	background-color: #fbe4a0;
}

.TableDesign {
	border-collapse: collapse;
	table-layout: auto;
	width: 95%;
}

.TableDesign-selected {
	background-color: #fbe4a0;
}

.TableHeading {
	color: #989288;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	font-size: 120%;
	font-family: 'Open Sans', verdana, sans-serif;
}

.EntryNumber {
	text-align: right;
	padding-right: 5px;
}

.SingleRowDesign {
	border-bottom: 1px solid gray;
}

.MultiRowTopDesign {
	border-top: 1px solid gray;
}

.MultiRowMiddleDesign {
}

.MultiRowBottomDesign {
	border-bottom: 1px solid gray;
}

.PartialReconciliation {
	background-color: #fbe4a0;
}

.FullReconciliation {
	background-color: #FFFFFF;
	
}

.NoReconciliation {
	background-color: #f3924c;
}

.med-table-positioner {
	z-index: 1;
	border-top: 2px solid green;
	margin-top: 2px;
}

.DragHandle {
	font-family: 'Open Sans', verdana, sans-serif;
	text-align: center;
}

.EntryNumber {
	
}

.Origin {
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}

.Medication {
	font-size: 110%;
	font-weight: bold;
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}


.Dosage {
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}

.Frequency {
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}

.Date {
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}

.Form {
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}

.Relation {
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}

.Alert {
	font-family: 'Open Sans', verdana, sans-serif; 
	text-align: left;
}